.cart-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
  align-items: center;
  min-height: 400px; 
}

app-cart-list {
  flex: 7;
}

app-cart-summary {
  flex: 3;
}
